body{
	font-family: sans-serif;
}

.container{
	width: 500px;
	background-color: #eaf6ed;
	margin: auto;
	border-radius: 20px;
	
}
.image_container img{
	width: 500px;
	height: 150px;
	border-radius: 20px 20px 0px 0px;
}
.form_container{
	padding-left: 30px;
}
form table{
	width: 100%;
}
.form_section1 .form_table{
    width: 90%;
}

.form_section1 .form_table td label{
    font-size: 14px;

}
.form_table{
	border-spacing: 0px 10px;
}
form table th{
	text-align: left;
}
.input_box{
	height: 30px;
    width: 420px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5fbf7;
}
.form_section3 .form_table input{
	height: 30px;
    width: 180px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5fbf7;
}
.form_section3 .form_table{
	padding-bottom: 10px;
}
.flex_container{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 10px;
}
.input_city{
    height: 30px;
    width: 105px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5fbf7;
}

.textarea{
	width: 420px;
	height: 80px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5fbf7;
}
.terms{
    padding-top: 10px;
    padding-bottom: 20px;
}
.button{
    padding-bottom: 40px;
    padding-top: 10px;
}
.button button{
	width: 155.2px;
    height: 35.2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    background-color: #d6ebb0;
    border: none;
}
.check_box{
    width: 20px;
    height: 15px;
    background-color: #f5fbf7;
}